.banner{
    background-image: url("../img/hectorYTito.jpg");
    padding: 25%;
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    z-index: 1;
}
.banner::after{
    content: "";
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.4;
    z-index: -1;
}
.fondoboton{
    background-color: goldenrod;
}
img{
    width: 300px;
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

audio{
    display: block;
    margin: 0 auto;
    margin-top: 10;
}